
@font-face {
  font-family: brand;
  src: url('../fonts/wrestel.ttf');
}

@font-face {
  font-family: brand-aux;
  src: url('../fonts/bastian.ttf');
}

 :root {
  --navbar-size: 75px;
/*   --burger-width: 25px; */
  --navbar-padding: 5px; 
}


section {
  padding: 1rem 2rem;
}



section img {
  width: 100%;
}

