@font-face {
  font-family: brand;
  src: url('../fonts/wrestel.ttf');
}

 :root {
  --navbar-size: 50px;
/*   --burger-width: 25px;
  --navbar-padding: 5px; */
}


section {
  padding: 1rem 2rem;
}

.logo a {
  font-family: brand;
  font-style: normal;
  font-size: x-large;
  padding: 0 1rem;
  /* margin: 2em; */
}

section img {
  width: 100%;
}