  .container {
      height: calc(100vh - 10px);
      display: grid;
      grid-auto-columns: 1fr;
      grid-auto-rows: min-content;
      gap: 5px;
      grid-template-areas:
          "pic1    pic2  pic3"
          "pic4    pic5  pic6"
          "pic7    pic8  pic9";
    object-fit: scale-down;
    
  }

 .itemcont {
      border: solid 1px pink;
      font-size: 2rem;
      font-family: Arial, Helvetica, sans-serif;
      display: block;
      position: relative;
      justify-content: center;
      align-items:flex-start;
      cursor: pointer; 
  }

  .item1 {
      grid-area: pic1;
     
   }

   .item2 {
     grid-area: pic2;
   }

   .item3 {
     grid-area: pic3;
   }

      .item4 {
     grid-area: pic4;
   }

      .item5 {
     grid-area: pic5;
   }

   .item6 {
     grid-area: pic6;
   }

      .item7 {
     grid-area: pic7;
   }

      .item8 {
     grid-area: pic8;
   }

      .item9 {
     grid-area: pic9;
   }

.description {
  display: none;
  color: white;
/*   background-color: rgba(179, 179, 179, 0.5); */
  position: absolute;
  font-size: 1rem;
  width: 100%;
  padding: 1rem 1rem;
}

/* .description:hover{
  display: flex;

}
 */
/* .itemcont  img {
  z-index: 1;
} */

 .itemcont  p {
  z-index: 999;
}



.itemcont:hover .description{
  display: inline-block;
  
}

.itemcont:hover  img {
  opacity: 10%;
  display: inline-block;
}

.selector{
  padding: 0;
}

/* FAV ICON */
.fav-icon {
  color: gold;
  visibility: hidden;
  font-size: 30px;
  cursor: pointer;
  padding: 0;
}

.fav-icon:before {
  content: "\2606";
  position: relative;
  visibility: visible;
  z-index: 1;
}
.fav-icon:checked:before {
  content: "\2605";
  position: relative;
   z-index: 1;

}

/* selection menu */
.selector{
  display: none;
}




/* @media (min-width: 768px) {
.fav-icon::before {
  display: none;
}

}
 */
