header {
  background-image: url(../img/banner/background.jpg);
  background-repeat: no-repeat;
  background-position: top center;
  background-size: cover;
  display: flex;
  flex-direction: column;
  flex:1;
  justify-content: space-around;
  height: 100vh;

}


.main-title .slugline {
  background-color: rgba(0, 0, 0, 0.5);
  color: whitesmoke;
  padding: 1rem;
  text-align: center;
}

header h1 {
    font-size: 2em;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-size: 60px;
    font-weight: bold;
    color: whitesmoke;
    text-align: right;
    padding: 0px 15px;
    align-items: center;   
}


.main-title  em {
  text-transform: capitalize;
  font-style: normal;
  text-shadow: 2px 2px 2px rgba(5, 64, 255, 0.5),
    2px -2px 2px rgba(5, 64, 255, 0.5),
    -2px 2px 2px rgba(5, 64, 255, 0.5),
    -2px -2px 2px rgba(5, 64, 255, 0.5);

}


 @media (min-width: 768px) {
  .main-title em {
    font-style: oblique;
  }
} 