.logo a {
  font-family: brand-aux;
  font-style: normal;
  color:red;
  /* font-size: x-large; */
  padding: 0 1rem;
  /* margin: 2em; */
  text-decoration: none;
}
.navbar {
    background-color: black;
    height: var(--navbar-size);
    width: 100%;
    top: 0;
    position: fixed;
    display: flex;
    align-items: flex-start;
    z-index: 9999;
    padding: 0 var(--navbar-padding);

}

 .navbar .logo {
  flex: 1;
  display: flex;
  justify-content: center;
  text-decoration: none;
  /* padding-right: var(--burger-width); */
}

/* burger menu */

.navbar .burger-label {
  display: block;
  width: var(--burger-width);
  height: 24px;
  position: relative;
  cursor: pointer;
}

.navbar .burger-label:before {
  content: "";
  box-shadow: 0 5px 0 0 white,
    0 12px 0 0 white,
    0 19px 0 0 white;
  width: var(--burger-width);
  height: 3px;
  position: absolute;
}

#burger-checkbox {
  width: 25px;
  height: 25px;
  margin: 0;
  display: none;
}

#burger-checkbox:checked~.navbar-list {
  display: flex;
}


/* Opciones */

.navbar-list {
  font-family:'Courier New', Courier, monospace;
  margin: 0;
  background-color: grey;
  color: white;
  list-style-type: none;
  padding: 1rem 1rem;
  position: absolute;
  top: var(--navbar-size);
  left: 0;
  height: calc(100vh - var(--navbar-size));
  display: none;
  /*   display: inline; */
  flex-direction: column;
  justify-content: flex-start;
}


.navbar-item {
    margin: 0;
    padding: 0;
}

.navbar-list > li {
 text-decoration: none;
 text-align: center;
 align-items: center;
 padding: 1rem 0rem;
 width: 100%;
 color: white;
}

.navbar-list a {
  text-decoration: none;
  color:white
}