.logo a {
  font-family: brand-aux;
  font-style: normal;
  color:white;
  /* font-size: x-large; */
  padding: 0 1rem;
  /* margin: 2em; */
}
.navbar {
    background-color: black;
    height: var(--navbar-size);
    width: 100%;
    top: 0;
    position: fixed;
    display: flex;
    align-items: flex-start;
    z-index: 1;
    padding: 0 var(--navbar-padding);

}

 .navbar .logo {
  flex: 1;
  display: flex;
  justify-content: center;
  text-decoration: none;
  /* padding-right: var(--burger-width); */
}

/* Opciones */

.navbar-list {
  text-decoration: none;
  margin: 0;
  background-color: black;
  color: white;
  list-style-type: none;
  padding: 0rem 0rem;
  position: absolute;
  top: var(--navbar-size);
  left: 0;
  height: calc(100vh - var(--navbar-size));
  display: none;
  /*   display: inline; */
  flex-direction: column;
  justify-content: space-around;
}

.navbar-list > li {
 font-family:'Courier New', Courier, monospace;
 text-align: center;
 align-items: center;
 padding: 1rem 0rem;
 width: 100%;
 color: white

}

.navbar-item {
    margin: 0;
    padding: 0;
}


