@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&display=swap');

:root {
  scroll-behavior: smooth;
}

*, *::after, *::before {
  font-family: Roboto, Arial, Helvetica, sans-serif;
  box-sizing: border-box;
}

body {
  margin: 0px;
  padding: 0px;
}

/* .img {
  max-width: 100%;
} */